<div class="image-modal">
  <div class="image-modal-content image-with-text">
    <span class="close cursor" (click)="close()">&times;</span>
    <img src="{{imageURL()}}">
    <p>
      <span *ngIf="artwork.title">{{artwork.title}}</span>
      <span *ngIf="artwork.media">,&nbsp;{{artwork.media}}</span>
      <span *ngIf="artwork.width">,&nbsp;{{artwork.width}}</span>
      <span *ngIf="artwork.height"> x {{artwork.height}}</span>
      <span *ngIf="artwork.year">,&nbsp;{{artwork.year}}</span>
      <span *ngIf="artwork.price">,&nbsp;{{artwork.price}}</span>
    </p>
  </div>
</div>
