.image-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
  margin-left: 5vw;
  width: 92%;
  /* overflow: hidden; */
}
/* .image-row > .image-column {
  padding:10px 5px;
} */
.image-row:after {
  content: "";
  display: table;
  clear: both;
}
.image-column {
  position: relative;
  float: left;
  width: 8%;
  padding: 10px 5px;
}

.image-column-phone {
  position: relative;
  float: left;
  width: 18%;
  padding: 2vw 2vw;
}

.image-column-enlarged {
  position: relative;
  float: left;
  width: 10%;
}

.selected-image {
  outline: 3px solid rgb(0, 255, 55) !important;
}

.carousel-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 95%;
  max-width: 1200px;
  /* overflow: hidden; */
}
/* .carousel-content .image-column {
  padding: 10px;
} */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 3px;
  margin-top: -25px;
  color: rgb(19, 7, 7) !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.8s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(179, 169, 169, 0.8);
}
