.exemplar-image {
  width: auto;
  height: 300px;
  cursor: pointer;
}

.exemplar-text {
  color: black;
  font-size: 16px;
}

.grid-content {
  padding-left: 10px;
  padding-top: 20px;
}

td {
  padding: 20px;
  text-align:center;
}
