<div id="imgLarge" class="image-with-text">
  <img *ngIf="artwork" (click)="handleClick()"
  [src]="imageURL()"/>
  <p class="focus-image-caption">
    <span *ngIf="artwork?.title">{{artwork.title}}</span>
    <span *ngIf="artwork?.media">,&nbsp;{{artwork.media}}</span>
    <span *ngIf="artwork?.width">,&nbsp;{{artwork.width}}</span>
    <span *ngIf="artwork?.height"> x {{artwork.height}}</span>
    <span *ngIf="artwork?.year">,&nbsp;{{artwork.year}}</span>
    <span *ngIf="artwork?.price">,&nbsp;{{artwork.price}}</span>
  </p>
</div>
